<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-plain">
                <div class="card-body">
                    <!--KPI's-->
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="card card-stats">
                                <!--<get-object height="160" qvid="''"></get-object>-->
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="card card-stats">
                                <get-object height="160" qvid="''"></get-object>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="card card-stats">
                                <get-object height="160" qvid="''"></get-object>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="card card-stats">
                                <get-object height="160" qvid="''"></get-object>
                            </div>
                        </div>
                    </div>
                    <!--line charts-->
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="card">
                                <div class="card-body">
                                    <!--<get-object height="160" qvid="''" selections="false"></get-object>-->
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="card">
                                <div class="card-body">
                                    <!--<get-object height="160" qvid="''" selections="false"></get-object>-->
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="card">
                                <div class="card-body">
                                    <!--<get-object height="160" qvid="''" selections="false"></get-object>-->
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="card">
                                <div class="card-body">
                                    <!--<get-object height="160" qvid="''" selections="false"></get-object>-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--tables-->
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="card card-stats">
                                <div class="card-body ">
                                    <!--<get-object height="400" qvid="''"
                                                selections="false"></get-object>-->
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="card card-stats">
                                <div class="card-body ">
                                    <!--<get-object height="400" qvid="''"
                                                selections="false"></get-object>-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--summary tables-->
                    <div class="row">
                        <div class="col-md-4 col-sm-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <!--<get-object height="120" qvid="''" selections="false"></get-object>-->
                                        </div>
                                        <div class="col-sm-8">
                                            <!--<get-object height="150" qvid="''" selections="false"></get-object>-->
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <!--<get-object height="200" qvid="''" selections="false"></get-object>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <div class="card">
                                <div class="card-body">
                                    <!--<get-object height="350" qvid="''" selections="false"></get-object>-->
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <div class="card">
                                <div class="card-body">
                                    <!--<get-object height="350" qvid="''" selections="false"></get-object>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>