<div class="content">
    <div class="row">
        <div class="col-md-12 ml-auto mr-auto">
            <div class="card card-plain card-subcategories">
                <div class="card-body">
                    <!--filter and selections section-->
                    <div class="card" style="background-color: #dfe8f6; margin-bottom: 20px;">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-lg-12 col-md-6 col-sm-6">
                                    <!--selections comes here-->
                                    <get-selection-object data-data=""></get-selection-object>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-2 col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <!--qlik date range picker || find the object id of qlik date-picker-->
                                        <!--<get-object class="form-control p-0 mt-2" header="false" height="38"
                                                    qvid="''"></get-object>-->
                                    </div>
                                </div>
                                <!--dropdown filter dimension names goes here-->
                                <div class="col-lg-2 col-md-6 col-sm-6">
                                    <!--<drop-down dimension="'Yıl'" id="Year"
                                               keep-open="true" listen-to-selections="true"
                                               multiple-selections="true"
                                               title="Yıl"></drop-down>-->
                                </div>
                                <div class="col-lg-2 col-md-6 col-sm-6">
                                    <!--<drop-down dimension="'Ay'" id="Month"
                                               keep-open="true" listen-to-selections="true"
                                               multiple-selections="true"
                                               title="Ay"></drop-down>-->
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--KPI's-->
                    <div class="row">
                        <div class="col-md-4 col-sm-12">
                            <div class="card">
                                <div class="card-body">
                                    <!--<get-object height="200" qvid="''"></get-object>-->
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <div class="card">
                                <div class="card-body">
                                    <!--<get-object height="200" qvid="''"></get-object>-->
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <div class="card">
                                <div class="card-body">
                                    <!--<get-object height="200" qvid="''"></get-object>-->
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--line chart with table-->
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="card">
                                <ul class="custom-tab-container">
                                    <!--tabs qlik objects-->
                                    <li>
                                        <get-object data-toggle="tab" height="40"
                                                    qvid="''"></get-object>
                                    </li>
                                    <li>
                                        <get-object data-toggle="tab" height="40"
                                                    qvid="''"></get-object>
                                    </li>
                                    <li>
                                        <get-object data-toggle="tab" height="40"
                                                    qvid="''"></get-object>
                                    </li>
                                    <li>
                                        <get-object height="40"
                                                    qvid="''"></get-object>
                                    </li>
                                    <li>
                                        <get-object height="40"
                                                    qvid="''"></get-object>
                                    </li>
                                </ul>
                                <div class="card-body">
                                    <!--<get-object height="500" qvid="''"
                                                selections="false"></get-object>-->
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="card">
                                <div class="export-button-container" style="height: 48px">
                                    <!--export('object id')-->
                                    <button class="export-button" ng-click="export('')">
                                        <img src="src/assets/img/export.svg" title="Excel'e Aktar" alt="Export">
                                    </button>
                                </div>
                                <div class="card-body">
                                    <!--<get-object height="500" qvid="''" selections="false"></get-object>-->
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 ml-auto mr-auto">
                            <div class="card card-upgrade">
                                <div class="card-body">
                                    <div class="table-responsive table-upgrade">
                                        <!--<get-object height="400" qvid="''"
                                                    selections="false"></get-object>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 ml-auto mr-auto">
                            <div class="card card-upgrade">
                                <div class="card-body">
                                    <div class="table-responsive table-upgrade">
                                        <!--<get-object height="400" qvid="''"
                                                    selections="false"></get-object>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--sales performance detail table-->
                    <div class="row">
                        <div class="col-sm-12 ml-auto mr-auto">
                            <div class="card card-upgrade">
                                <div class="export-button-container">
                                    <button class="export-button" ng-click="export('')">
                                        <img src="src/assets/img/export.svg" title="Excel'e Aktar" alt="Export">
                                    </button>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive table-upgrade">
                                       <!-- <get-object height="500" qvid="''"
                                                    selections="false"></get-object>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="card">
                                <div class="export-button-container">
                                    <button class="export-button" ng-click="export('')">
                                        <img src="src/assets/img/export.svg" title="Excel'e Aktar" alt="Export">
                                    </button>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <!--<get-object height="400" qvid="''"
                                                    selections="false"></get-object>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="card">
                                <div class="export-button-container">
                                    <button class="export-button" ng-click="export('RRrbMJ')">
                                        <img src="src/assets/img/export.svg" title="Excel'e Aktar" alt="Export">
                                    </button>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <get-object height="400" qvid="''"
                                                    selections="false"></get-object>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

