<div class="sidebar" data-color="white" data-active-color="white">
    <div class="sidebar-wrapper">
        <div class="user">
            <div class="photo">
                <img src="src/assets/img/default-avatar.png" alt="Avatar" />
            </div>
            <div class="info">
                <div class="profile-name">
                    <span></span>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <ul class="nav">
            <li ng-class="{'active':page==='home'}">
                <a ng-click="goTo('home')">
                    <i class="nc-icon nc-bank"></i>
                    <p>Anasayfa</p>
                </a>
            </li>
            <li ng-class="{'active':page==='sales'}">
                <a ng-click="goTo('sales')">
                    <i class="nc-icon nc-diamond"></i>
                    <p>Satış</p>
                </a>
            </li>
        </ul>
    </div>

</div>
