%card-stats {
  hr {
    margin: 5px 15px;
  }
}


.card-stats {
  .card-body {
    padding: 15px 10px;
    white-space: nowrap;

    p {
      margin-bottom: 10px;
    }

    .card-category {
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      text-transform: uppercase;
      color: #121958;
    }

    .flex-card-title {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 2.4em;
    }

    .icon-big {
      font-size: 2em;
      min-height: 64px;

      i {
        line-height: 59px;
      }
    }
  }
}
