.get-selection-object {
  font-size: 14px;
  padding: 0;
  display: inline-block;
}
.get-selection-object .close {
  margin-left: 0 !important;
  padding-left: 2px;
}
.get-selection-object ul {
  width: 100%;
  height: 90%;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  display: flex;
  flex-direction: row;
}
.get-selection-object ul li {
  font-size: 14px;
  text-align: left;
  padding-right: 5px;
}
.get-selection-object ul li:first-child {
  padding-left: 0;
}
.get-selection-object ul li .clearAll {
  color: black;
  text-decoration: none;
}
.get-selection-object ul li .clearAll:hover {
  color: white;
  text-decoration: none;
}
.get-selection-object ul li .fa-times-circle-o {
  cursor: pointer;
  color: red;
}
.get-selection-object .dropdown-menu {
  font-size: 14px;
  /*text-align: left; */
  padding: 0;
}
.get-selection-object .dropdown-menu .dropdown-item {
  padding: 3px 7px;
}
.get-selection-object .btn.btn-secondary.dropdown-toggle {
  background-color: white;
  padding: 0;
  border: 0;
  font-size: 14px;
}
.get-selection-object .no-selections {
  font-style: italic;
  color: #CCCCCC;
}
/****************
 * MEDIA QUERIES
*****************/
/*==========  Non-Mobile First Method  ==========*/
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .get-selection-object ul li {
    display: block;
  }
}
/* Extra Small Devices, Phones */
/* Custom, iPhone Retina */
