<div class="get-selection-object">
	<ul class="d-flex flex-column flex-md-row align-items-center">
		<li><strong>Filtreler: </strong></li>
		<li ng-if="!selections.length" class="no-selections">Seçili filtre bulunamadı</li>
		<li ng-repeat="item in selections" class="d-flex flex-column">
			<div ng-if="item.selected.length==1">
				<button class="btn btn-danger btn-round" style="background-color: #02256c; " ng-click="clearField(item.field)">
					{{item.field}}: {{item.selected[0]}}
					<i class="nc-icon nc-simple-remove"></i>
				</button>
			</div>
			<div ng-if="item.selected.length>1" class="hidden-md-up">
				<button class="btn btn-danger btn-round" style="background-color: #02256c; ">
					<span>{{item.field}} : {{item.selected.length}} Seçili {{item.total}} Toplam</span>
					<i class="nc-icon nc-simple-remove" ng-click="clearField(item.field)" ng-if="item.selected.length>1"></i>
				</button>
			</div>
			<!--<div class="dropdown hidden-sm-down" ng-if="item.selected.length>1">
				<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					{{item.field}} : {{item.selected.length}} of {{item.total}}
				</button>
				<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
					<span class="dropdown-item" ng-repeat="multipleSubItem in item.selected">
						{{multipleSubItem.qName}}
						<button type="button" class="close" aria-label="Close" ng-click="clearFieldItem(item.field, multipleSubItem.qName)">
							<span aria-hidden="true">&times;</span>
						</button>
					</span>
				</div>
			</div>-->
		</li>
		<li ng-show="selectedFields.length && !isMobile">
			<button class="btn btn-danger btn-round clearAll" ng-click="clearAll()">
				Seçimleri Temizle
				<i class="nc-icon nc-simple-remove"></i>
			</button>

		</li>
	</ul>
</div>
