.drop-down-directive {
    display: inline-block;
    width: 100%;
}

.drop-down-directive .btn-secondary {
    border: 0;
    width: 100%;
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.drop-down-directive .btn-secondary:hover {
    background-color: #02256c !important;
}

.drop-down-directive .dropdown-menu {
    /*min-width: 200px;*/
    width: 100%;
}

.drop-down-directive .dropdown-menu .open,
.drop-down-directive .dropdown-menu .selected,
.drop-down-directive .dropdown-menu .excluded {
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
}

.drop-down-directive .dropdown-menu .selected,
.drop-down-directive .dropdown-menu .excluded:hover,
.drop-down-directive .dropdown-menu .open:hover {
    color: white;
    background-color: #dfe8f6;
}

.drop-down-directive .dropdown-menu .open {
    color: #595959;
    /*background-color: rgba(0, 152, 69, 0.6);*/
}

/*.drop-down-directive .dropdown-menu .selected:hover {
    background-color: rgba(81, 166, 119, 0.9);
}*/

.drop-down-directive .dropdown-menu .excluded {
    color: #434343;
    background-color: #99999942;
}

.drop-down-directive .scrollable-menu {
    height: auto;
    overflow-x: hidden;
    z-index: 9999999;
    max-height: 270px;
}

.drop-down-directive .dropdown-item {
    margin-bottom: 2px;
    border-bottom: 1px solid #DDDDDD;
    cursor: pointer;
}

.dropdown-custom .dropdown-menu .dropdown-item:first-child {
    border-top-left-radius: 3px !important;
    border-top-right-radius: 3px !important;
}

.dropdown-custom .dropdown-menu .dropdown-item:last-child {
    border-bottom-left-radius: 3px !important;
    border-bottom-right-radius: 3px !important;
}

.drop-down-directive .customSearchBox {
    display: block;
    font-size: 13px;
    padding: 8px 30px 8px 17px;
    clear: both;
    white-space: nowrap;
    width: 100%;
    margin: 5px auto;
    border-bottom: 1px solid #DDDDDD;
}