<div class="drop-down-directive dropdown dropdown-custom">
	<a class="btn btn-secondary dropdown-toggle" href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		{{currentItem.qText}}
	</a>
	<div class="dropdown-menu scrollable-menu" aria-labelledby="dropdownMenuLink">
		<input type="text" ng-model="searchBox" placeholder="Arama" class="form-control customSearchBox">
		<div ng-repeat="item in items | filter:searchBox">
			<a ng-click="dropDownChangeTitle(item[0])" class="dropdown-item" ng-class="{'selected' : currentItem.qElemNumber==item[0].qElemNumber || item[0].qState==='S', 'excluded' : item[0].qState==='X', 'open' : item[0].qState==='O'}">
				<div class="form-check form-check-inline">
					<input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" ng-checked="currentItem.qElemNumber==item[0].qElemNumber || item[0].qState==='S'">
					<label class="form-check-label" for="inlineCheckbox1">
						{{item[0].qText}}
					</label>
				</div>
			</a>
		</div>
	</div>
</div>